.contacto-form {
    padding: 4rem 2rem;
}

.form-container {
    max-width: 500px;
    margin: 2rem auto;
}

.security-microcopy {
    margin-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
}

.testimonial {
    margin-top: 4rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial blockquote {
    font-style: italic;
    font-size: 1.2rem;
    border-left: 3px solid var(--purple-transformation);
    padding-left: 1rem;
    margin: 0;
}

.testimonial cite {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}
