.proyectos {
    padding: 4rem 2rem;
}

.project {
    margin-bottom: 4rem;
}

.roi-figures {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
}

.roi-figure {
    flex: 1;
}
