{% extends "./base.html" %}

{% block body %}
    <div class="section--black">
        {% module "home_hero" path="../modules/home_hero_module.module" %}
    </div>
    <div class="section--black">
        {% module "methodology" path="../modules/methodology_module.module" %}
    </div>
    <div class="section--white">
        {% module "proyectos" path="../modules/proyectos_module.module" %}
    </div>
    <div class="section--black">
        {% module "contacto_form" path="../modules/contacto_form_module.module" %}
    </div>
{% endblock body %}
